<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.label.guffv3"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Guff</name>

    <description>
        Guff App V3
    </description>

    <author href="http://www.thisislabel.co.uk" email="ben.ede@gmail.com">
        Ben n Tom
    </author>

    <preference name="phonegap-version" value="2.7.0" />
    <gap:plugin name="GenericPush" /> <!-- latest release -->

</widget>